//Fonts
  $montserrat: "Montserrat", "Open Sans", sans-serif;
  $montserrat-bold: "Montserrat-Bold", "Open Sans", sans-serif;
//Color

  $white: #ffffff;
  $black: #000000;
  $black-transparent: rgba(0, 0, 0, 0.5);
  $white-transparent: rgba(225, 225, 225, 0.5);
  $red: #D8222E;
  $blue: #034D8E;
  $grey: #C7C5C5;
  $red-shadow: #e3646c;
  $black-shadow: rgba(0, 0, 0, 0.5);
  $dark-blue: rgba(0, 30, 108, 0.5);

//Viewports

  $tablet-width: 768px;
  $desktop-width: 1200px;
  $mobile-width-only: 767px;
