.about-us {
  position: relative;
  top: -150px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.about-us__title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/png/lines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 267px 37px;
    width: 267px;
    height: 37px;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
  }
}

.about-us__title::after {
  content: "";
  opacity: 1;
  position: absolute;
  background-image: url(../img/png/about_us_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65px 55px;
  width: 65px;
  height: 55px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.about-us__title--animation {
  &::after {
    animation-name: about-us;
    animation-duration: 2s;
  }
}

@keyframes about-us {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.about-us__indent {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 50px;
}

.about-us__container {
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 70px auto;
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: rgba(4, 77, 142, 1);
    left: 179px;
  }
}

.about-us__img {
  width: 300px;
  flex-shrink: 0;
  background-image: url(../img/jpg/about-us__img.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% contain;
  border-radius: 20px;
}

.about-us__left {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.left__text {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: $black-transparent;
  margin: 0;
  padding-right: 10px;
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $grey;
    border-radius: 50%;
    left: 100%;
    top: 0;
    z-index: 1;
    cursor: pointer;
  }
}

.left__text:nth-child(2) {
  &::after {
    top: 15px;
  }
}

.left__text:last-child {
  &::after {
    top: 25px;
  }
}

.left__text:hover {
  color: $blue;
  transition-duration: 0.5s;
  &::after{
    width: 30px;
    height: 30px;
    left: 165px;
    background-color: $red;
    transition-duration: 0.5s;
  }
}

.left__text:hover:nth-child(2) {
  &::after{
    top: 12px;
  }
}

.left__text:hover:last-child {
  &::after{
    top: 22px;
  }
}

.about-us__center {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.center__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $black;
  margin: 0;
  margin-bottom: 40px;
}

.center__text:last-child {
  margin-bottom: 0;
}

/*Numbers*/

.about-us__numbers {
  position: relative;
  margin-top: 100px;
  background-color: $red;
  background-image: url(../img/png/bg-numbers3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
  padding: 70px 0;
  color: $white;
}

.numbers__img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 300px;
}

.numbers__container {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-left: 315px;
}

.numbers__enterprises {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white;
}

.numbers__number--big {
  font-family: $montserrat-bold;
  font-size: 72px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  white-space: nowrap;
}

.numbers__text--big {
  max-width: 450px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.numbers__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  margin-top: 20px;
}

.numbers__countries,
.numbers__clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*
.numbers__countries {
  border-right: 1px solid $white;
  padding-right: 10px;
}
*/

.numbers__clients {
  padding-left: 10px;
}

.numbers__number {
  font-family: $montserrat-bold;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.numbers__text {
  max-width: 280px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
