.questions {
  margin: 0;
  padding: 80px 60px;
  background-image: url(../img/jpg/bg-questions5.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.questions__title {
  position: relative;
  color: $white;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/png/lines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 267px 37px;
    width: 267px;
    height: 37px;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
  }
}

.questions__title::after {
  content: "";
  position: absolute;
  background-image: url(../img/png/questions-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69px 52px;
  width: 69px;
  height: 52px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.questions__title--animation {
  &::after {
    animation-name: questions-title;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
  }
}

@keyframes questions-title {
  from {
    position: absolute;
    left: 50%;
  } 30% {
    left: 49%;
  } 70% {
    left: 51%;
  } to {
    left: 50%;
  }
}

.questions__container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.questions__box {
  margin-bottom: 20px;
}

.questions__question-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questions__question-btn {
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  background-color: $white;
  border: 3px solid $blue;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 auto;
}

.questions__question-text {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  color: $red;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.questions__answer {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $blue;
  outline: 3px solid $blue;
  border-radius: 28px;
  padding: 10px 25px;
  padding-top: 50px;
  background-color: $white;
}
