.specifics {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
}

.specifics__title {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/png/lines.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 267px 37px;
    width: 267px;
    height: 37px;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
  }
}

.specifics__title::after {
  content: "";
  position: absolute;
  background-image: url(../img/png/specifics-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 69px 48px;
  width: 69px;
  height: 48px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.specifics__title--animation {
  &::after {
    animation-name: specifics-title;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

@keyframes specifics-title {
  from {
    position: absolute;
    top: -150px;
    opacity: 0;
  } to {
    top: -50px;
    opacity: 1;
  }
}

.specifics__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px 100px;
  margin-bottom: 130px;
}

.specific {
  position: relative;
  max-width: 200px;
  margin-right: 20px;
  padding-top: 130px;
}

.specific:last-child {
  margin-right: 0;
}

.specific__title {
  max-width: 120px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: $black;
  opacity: 0.5;
}

.specific__text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: $black;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.specific:hover .specific__title {
  color: $blue;
  opacity: 1;
}

.specific:hover .specific__text {
  opacity: 1;
}

.specifics__consultation {
  &::after {
    content: "1";
    position: absolute;
    font-family: $montserrat-bold;
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
    color: $red;
    top: 33px;
    left: 33%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 0;
    left: 12%;
  }
}

.specifics__consultation:hover {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/png/consultation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    top: 45px;
    left: 52px;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle-red1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px 130px;
    transform: rotate(90deg);
    width: 130px;
    height: 130px;
    top: 10px;
    left: 6%;
    transition-duration: 0.2s;
  }
}

.specifics__provider{
  &::after {
    content: "2";
    position: absolute;
    font-family: $montserrat-bold;
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
    color: $red;
    top: 33px;
    left: 30%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 0;
    left: 12%;
  }
}

.specifics__provider:hover {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/png/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    top: 35px;
    left: 50px;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle-red1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 6%;
    transition-duration: 0.2s;
  }
}

.specifics__quality {
  &::after {
    content: "3";
    position: absolute;
    font-family: $montserrat-bold;
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
    color: $red;
    top: 33px;
    left: 30%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 0;
    left: 12%;
  }
}

.specifics__quality:hover {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/png/quality.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    top: 34px;
    left: 48px;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle-red1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 6%;
    transition-duration: 0.2s;
  }
}

.specifics__delivery {
  &::after {
    content: "4";
    position: absolute;
    font-family: $montserrat-bold;
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
    color: $red;
    top: 33px;
    left: 27%;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 0;
    left: 12%;
  }
}

.specifics__delivery:hover {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/png/speedometer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 27px;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/circle-red1.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    top: 10px;
    left: 6%;
    transition-duration: 0.2s;
  }
}
