.specifics__title {
  position: relative;
}

.specifics__title::after {
  content: "";
  position: absolute;
  background-image: url(../img/png/specifics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 267px 48px;
  width: 267px;
  height: 48px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
